@import '../../variables';

.pagination {
  width: 100%;
  @include flex(flex-end, center);
  padding-block: 2rem;
  .active {
    color: $red;
  }
  .page-item {
    padding: 0.4rem 0.75rem;
    @include flex(center, center);
    cursor: pointer;
    &:hover {
      background-color: $white_gray;
    }
  }
  .next_prev {
    font-size: 1.25rem;
  }
  .disabled {
    color: $light_gray;
  }
}
