@import '../../variables';

.category {
  width: 100%;
  height: 2.125rem;
  padding: 0 0.85rem;
  border: solid 1px $light_gray;
  color: $gray;
  cursor: pointer;
  transition: ease 300ms height;
  overflow-y: hidden;
  .cate {
    width: 100%;
    height: 2rem;
    @include flex(space-between, center);
    position: relative;
    span {
      position: absolute;
      right: 1.75rem;
      font-size: 0.7rem;
      background-color: red;
      color: white;
      padding: 0.1rem 0.4rem;
      border-radius: 1rem;
    }
    .right {
      transform: rotate(0);
      transition: ease 300ms transform;
    }
  }
  .check {
    border: none;
    background-color: transparent;
    @include flex(flex-start, center);
    gap: 0.5rem;
    margin-top: 1rem;
    .checkbox {
      position: relative;
      .square_icon {
        font-size: 1.1rem;
      }
      .check_icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $red;
      }
    }
  }
  &:hover {
    border-color: $gray;
  }
}

.clicked {
  height: 5.24rem;
  .cate {
    .upward {
      transition: ease 300ms transform;
      transform: rotate(-90deg);
    }
  }
}
