@import '../../variables';

.product_article {
  width: 100%;
  height: 100%;
  max-height: 25rem;
  border: solid 1px $light_gray;
  cursor: pointer;
  padding: 1rem;
  @include flex(center, center, $vertical: true);
  gap: 0.75rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  position: relative;
  overflow: hidden;
  .product_img {
    object-fit: contain;
    width: 100%;
  }
  .blur {
    background-image: url('../../images/shlogo.png');
    height: 15rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 15rem;
      background-color: rgba($color: $white, $alpha: 0.5);
      top: 0;
      left: 0;
      z-index: 2;
      backdrop-filter: blur(20px);
    }
  }
  .info {
    width: 100%;
    @include flex(center, center, $vertical: true);
    text-align: center;
    gap: 0.5rem;
    .product_name {
      color: $gray;
    }
    .product_price {
      color: $dark_blue;
      text-align: center;
      font-weight: 100;
    }
  }
  .heart_icon {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 100;
  }
  &:hover {
    border: solid 1px $gray;
  }
}

@include tablet {
  .product_article {
    max-height: 30rem;
    .product_img {
      object-fit: contain;
      padding: 1rem;
    }
  }
}
