@import '../../variables';

.header {
  width: 100vw;
  border-bottom: solid 2px $primary;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: $white, $alpha: 0.95);
  z-index: 30;
  .navbar {
    width: 100%;
    height: 3.75rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3rem;
    align-content: center;
    position: relative;
    overflow-x: hidden;
    .logo {
      width: 100%;
      justify-self: start;
      width: max-content;
      height: 3.125rem;
      object-fit: contain;
    }
    .search_bar_container {
      justify-self: center;
      align-self: center;
      width: 100%;
      .back_arrow {
        border: none;
        background-color: transparent;
        @include flex(center, center);
        display: none;
        font-size: 1.25rem;
      }
      .search_bar {
        height: 2.25rem;
        width: 100%;
        border: solid 1px $light_gray;
        padding-left: 0.5rem;
        @include flex(flex-start, center);
        gap: 0.5rem;
        input {
          font-size: 1.01rem;
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
          outline: none;
        }
        .search_icon {
          font-size: 1.25rem;
        }
        &:hover {
          border: solid 1px $gray;
        }
      }
    }
    .nav_menu {
      justify-self: self-end;
      @include flex(center, center);
      gap: 1rem;
      li {
        cursor: pointer;
        width: 2rem;
        aspect-ratio: 1 / 1;
        font-size: 1.25rem;
        color: $gray;
        @include flex(center, center);
        &:hover {
          border: solid 1px $light_gray;
        }
      }
      .cart {
        position: relative;
        .items_quantity {
          position: absolute;
          background-color: $red;
          color: white;
          width: 0.75rem;
          aspect-ratio: 1 / 1;
          border-radius: 3px;
          font-size: 0.75rem;
          @include flex(center, center);
          right: 2px;
          top: 0;
        }
      }
      .outer_search_icon {
        border: none;
        background-color: transparent;
        @include flex(center, center);
        display: none;
      }
      .social_media {
        @include flex(center, center);
        gap: 1rem;
        .facebook {
          font-size: 1.4rem;
        }
      }
    }
    .hamburger {
      overflow: hidden;
      width: 2.625rem;
      height: 2rem;
      justify-self: end;
      background-color: transparent;
      border: solid 1px $light_gray;
      @include flex(center, center, $vertical: true);
      display: none;
      .stick {
        width: 1rem;
        margin: auto;
        height: 1px;
        background-color: $gray;
        transition: 300ms all ease;
      }
      .top,
      .bottom {
        width: 0.85rem;
      }
      .top {
        margin-bottom: -0.4rem;
      }
      .bottom {
        margin-top: -0.4rem;
      }
      .animate_stick {
        transform: rotateY(180deg);
      }
      .animate_stick.middle {
        transform: translateX(200%);
      }
      .animate_stick.top {
        transform: rotate(45deg);
        margin-top: 0.9rem;
      }
      .animate_stick.bottom {
        transform: rotate(-45deg);
        margin-bottom: 0.9rem;
      }
    }
  }
  .sub_navbar {
    width: 100vw;
    @include flex(center, center);
    gap: 5rem;
    height: 2.375rem;
    color: $gray;
    font-size: 0.83rem;
    background-color: $white_gray;
    p {
      padding-top: 2px;
      @include flex(center, center);
      cursor: pointer;
      position: relative;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $red;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) scaleX(0);
        transition: ease 500ms transform;
      }
      &:hover::after {
        width: 150%;
        height: 1.95px;
        transform: translateX(-50%) scaleX(1);
      }
      &.products {
        color: $primary;
        position: relative;
        height: 100%;
        &::after {
          content: '';
          position: absolute;
          width: 150%;
          height: 2px;
          background-color: $red;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
        }
      }
      .link {
        color: $gray;
      }
    }
    .social_media {
      display: none;
    }
  }
}

@include tablet {
  .header {
    .navbar {
      gap: 0;
      .logo {
        height: 40px;
      }
      .nav_menu {
        position: relative;
        z-index: 1;
        .social_media {
          display: none;
        }
      }
      .hamburger {
        display: flex;
      }
    }
    .sub_navbar {
      position: fixed;
      height: calc(100vh - 3.75rem);
      left: 0;
      bottom: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 300ms ease;
      background-color: $white;
      border: solid 3px $light_gray;
      padding-inline: 1rem;
      padding-top: 3rem;
      @include flex(flex-start, flex-start, $vertical: true);
      gap: 1rem;
      p {
        width: 100%;
        max-width: 560px;
        margin-inline: auto;
        display: block;
        padding-bottom: 0.5rem;
        height: max-content;
        border-bottom: solid 1px $light_gray;
        &.products {
          height: max-content;
          &::after {
            display: none;
          }
        }
      }
      .social_media {
        @include flex(flex-start, flex-start, $vertical: true);
        gap: 1rem;
        width: 100%;
        p {
          width: 100%;
          max-width: 560px;
          margin-inline: auto;
          display: block;
          padding-bottom: 0.5rem;
          height: max-content;
          border-bottom: solid 1px $light_gray;
          @include flex(flex-start, center);
          gap: 0.5rem;
          .icon {
            font-size: 1.2rem;
          }
        }
      }
      .products {
        color: $red;
        .link {
          color: $red;
        }
      }
    }
    .opened_sub {
      transition: transform 300ms ease;
      transform: scaleY(1);
    }
  }
}
@include tablet-sm {
  .header {
    .navbar {
      @include flex(space-between, center);
      width: 100%;
      .logo {
        flex: 1;
        flex-shrink: 2;
        flex-grow: 0;
      }
      .search_bar_container {
        transform: translate(100vw);
        position: absolute;
        background-color: white;
        height: 100%;
        width: 100vw;
        z-index: 20;
        padding-right: 2rem;
        padding-left: 1rem;
        @include flex(flex-start, center);
        gap: 1rem;
        transition: transform 300ms ease;
        .back_arrow {
          display: block;
        }
        .search_bar {
          width: 100%;
        }
      }
      .nav_menu {
        gap: 0.5rem;
      }
      .opened_searchbar {
        transition: transform 300ms ease;
        transform: translate(0);
      }
      .nav_menu {
        .outer_search_icon {
          display: flex;
          font-size: 1.25rem;
        }
      }
    }
  }
}
