@import '../../variables';

.placeholder {
  display: none;
}
.sidebar {
  width: 100%;
  @include flex(flex-start, flex-start, $vertical: true);
  gap: 1.75rem;
  .filter_text {
    font-size: 1.25rem;
    color: $gray;
    .close_icon {
      display: none;
    }
  }
  .clear_btn {
    width: 100%;
    background-color: $dark_blue;
    padding: 0.6rem;
    color: $light_gray;
    cursor: pointer;
    position: relative;
    border: solid $dark_blue 1px;
    &:hover {
      color: $dark_blue;
      background-color: $light_gray;
    }
    &:disabled {
      color: $white;
      border: solid #d1d5db 1px;
      background-color: #918f9c;
    }
  }
  h4 {
    font-size: 1rem;
    color: $dark_blue;
  }
  .categories_container {
    position: sticky;
    top: 5rem;
    z-index: 1;
    margin-top: 0.5rem;
    width: 100%;
    background-color: $white;
    h4 {
      margin-bottom: 0.5rem;
    }
    .categories {
      @include flex(flex-start, flex-start, $vertical: true);
      gap: 1rem;
    }
  }
  .price_range {
    padding-block: 1rem;
    position: sticky;
    top: 5rem;
    z-index: 2;
    width: 100%;
    background-color: $white;
    margin-block: -1rem;
  }
  .colors {
    padding-block: 1rem;
    margin-block: -1rem;
    position: sticky;
    top: 5rem;
    z-index: 2;
    width: 100%;
    background-color: $white;
  }
  .brands {
    padding-top: 1rem;
    margin-top: -1rem;
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: $white;
    .brands_container {
      margin-top: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
      .brand {
        width: 100%;
        height: 2.625rem;
        padding-block: 0.25rem;
        border: solid 1px $light_gray;
        p {
          display: grid;
          place-items: center;
          font-size: 0.5rem;
          color: white;
          height: 100%;
          width: 100%;
          background-color: $light_blue;
        }
        &:hover {
          border: solid 1px $gray;
          cursor: pointer;
        }
      }
    }
  }
  .blank {
    width: 100%;
    height: 105%;
    background-color: $white;
    position: relative;
    margin-top: -1.75rem;
    z-index: 3;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      height: 3px;
      width: 100%;
      background-color: $white;
    }
  }
  .apply_btns {
    width: 100%;
    @include flex(space-between, center);
    display: none;
  }
}

@include tablet {
  .placeholder {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $gray, $alpha: 0.5);
    position: fixed;
    z-index: 80;
    left: 0;
    top: 0;
  }
  .sidebar {
    position: fixed;
    width: 100%;
    top: 100%;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 100;
    background-color: $white;
    transition: 300ms ease top;
    padding-inline: 1rem;
    padding-top: 2rem;
    border-radius: 0.5rem;
    .filter_text {
      margin-top: -1rem;
      width: 100vw;
      font-size: 1rem;
      color: $dark_blue;
      @include flex(space-between, center);
      padding-bottom: 1rem;
      margin-left: -1rem;
      padding-inline: 1rem;
      border-bottom: solid 1px $light_gray;
      font-weight: bold;
      position: relative;
      background-color: $white;
      .close_icon {
        display: block;
        font-size: 1.1rem;
      }
    }
    .clear_btn {
      display: none;
    }
    .categories_container {
      position: relative;
      top: 0;
    }
    .price_range {
      top: 0;
      position: relative;
    }
    .colors {
      position: relative;
      top: 0rem;
    }
    .brands {
      position: relative;
      .brands_container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      }
    }
    .blank {
      display: none;
    }
    .apply_btns {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 110;
      width: 100%;
      background-color: $white;
      padding: 0.5rem 1rem;
      display: flex;
      gap: 1rem;
      button {
        height: 2.25rem;
        width: 100%;
      }
      .apply_btn {
        width: 100%;
        background-color: $dark_blue;
        color: $light_gray;
        cursor: pointer;
        border: solid $dark_blue 1px;
        &:hover {
          color: $dark_blue;
          background-color: $light_gray;
        }
      }
      .clear_btn2 {
        width: 100%;
        border: solid 1px $light_gray;
        background-color: transparent;
        color: $gray;
        &:hover {
          border: solid 1px $red;
        }
      }
    }
  }
  .opened_sidebar {
    top: 11rem;
  }
}
