@import '../../variables';

.sidebar {
  width: 100%;
  @include flex(flex-start, flex-start, $vertical: true);
  gap: 1.75rem;
  .filter_text {
    font-size: 1.25rem;
    color: $gray;
  }
  .clear_btn {
    width: 100%;
    background-color: $dark_blue;
    padding: 0.6rem;
    color: $light_gray;
    cursor: pointer;
    position: relative;
    border: solid $dark_blue 1px;
    &:hover {
      color: $dark_blue;
      background-color: $light_gray;
    }
    &:disabled {
      color: $white;
      border: solid #d1d5db 1px;
      background-color: #918f9c;
    }
  }
  h4 {
    font-size: 1rem;
    color: $dark_blue;
  }
  .categories_container {
    position: sticky;
    top: 5rem;
    z-index: 1;
    margin-top: 0.5rem;
    width: 100%;
    background-color: $white;
    h4 {
      margin-bottom: 0.5rem;
    }
    .categories {
      @include flex(flex-start, flex-start, $vertical: true);
      gap: 1rem;
    }
  }
  .price_range {
    padding-block: 1rem;
    position: sticky;
    top: 5rem;
    z-index: 2;
    width: 100%;
    background-color: $white;
    margin-block: -1rem;
  }
  .colors {
    padding-block: 1rem;
    margin-block: -1rem;
    position: sticky;
    top: 5rem;
    z-index: 2;
    width: 100%;
    background-color: $white;
  }
  .brands {
    padding-top: 1rem;
    margin-top: -1rem;
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: $white;
    .brands_container {
      margin-top: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 1rem;
      .brand {
        width: 100%;
        height: 2.625rem;
        padding-block: 0.25rem;
        border: solid 1px $light_gray;
        p {
          display: grid;
          place-items: center;
          font-size: 0.5rem;
          color: white;
          height: 100%;
          width: 100%;
          background-color: $light_blue;
        }
        &:hover {
          border: solid 1px $gray;
          cursor: pointer;
        }
      }
    }
  }
  .blank {
    width: 100%;
    height: 105%;
    background-color: $white;
    position: relative;
    margin-top: -1.75rem;
    z-index: 3;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      height: 3px;
      width: 100%;
      background-color: $white;
    }
  }
}

@include tablet {
  .sidebar {
    overflow: scroll;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 15;
    background-color: $white;
    width: 100%;
    transition: 300ms ease top;
    padding-inline: 1rem;
    padding-top: 1.5rem;
    overflow-y: scroll;
    height: max-content;
    .clear_btn {
      display: none;
    }
  }
  .opened_sidebar {
    top: 5rem;
  }
}
