@import '../../variables';

.footer {
  width: 100vw;
  // overflow: hidden;
  min-height: 21.3rem;
  background-color: $dark_blue;
  position: relative;
  .footer_container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: baseline;
    width: 100%;
    .sh_content {
      padding-top: 1.5rem;
      width: 100%;
      height: 100%;
      @include flex(center, flex-start, $vertical: true);
      gap: 1rem;
      .logo {
        height: 2.75rem;
        object-fit: contain;
        margin-left: -0.5rem;
      }
      .slogan {
        font-size: 0.825rem;
        color: $light_gray;
        line-height: 1.5;
        max-width: 55ch;
      }
      .contact {
        margin-top: 0.5rem;
        @include flex(flex-start, baseline);
        gap: 1rem;
        .phone_icon {
          font-size: 1.5rem;
          color: $white;
        }
        .phone_number {
          @include flex(flex-start, flex-start, $vertical: true);
          gap: 0.25rem;
          a {
            font-size: 2rem;
            color: $light_gray;
            font-weight: bold;
            text-decoration: none;
          }
          small {
            color: $light_gray;
            font-size: 0.875rem;
          }
        }
      }
      .payment {
        h4 {
          font-size: 1.2rem;
          color: $not_white;
        }
        img {
          margin-top: 1rem;
          height: 2rem;
          object-fit: contain;
        }
      }
    }
    .footer_menu {
      width: 100%;
      @include flex(flex-start, flex-start, $vertical: true);
      gap: 1rem;
      h3 {
        font-size: 1.125rem;
        color: $not_white;
        font-weight: 400;
      }
      li {
        font-size: 0.825rem;
        color: $light_gray;
        cursor: pointer;
        &:first-of-type {
          margin-top: 1rem;
        }
      }
    }
  }
  .bottom {
    background-color: #031833;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    .container {
      min-height: 2.7rem;
      @include flex(space-evenly, center);
      font-size: 12px;
      color: #94bae9;
      p {
        a {
          color: #94bae9;
        }
      }
    }
  }
}

@include tablet {
  .footer {
    .footer_container {
      padding-block: 1.5rem;
      grid-template-columns: 1fr 1fr;
      justify-items: start;
      column-gap: 1.5rem;
      .sh_content {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      .footer_menu {
        height: 100%;
      }
      .footer_menu:nth-child(2),
      .footer_menu:nth-child(3) {
        border-bottom: solid 1px $blue_border;
        padding-bottom: 1.2rem;
      }
    }
  }
}
@include tablet-sm {
  .footer {
    .footer_container {
      grid-template-columns: 1fr;
      justify-items: start;
      column-gap: 0;
      padding-block: 0;
      padding-bottom: 1rem;
      .sh_content {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }
      .footer_menu {
        padding-top: 1.2rem;
      }
      .footer_menu:nth-child(4) {
        border-bottom: solid 1px $blue_border;
        padding-bottom: 1.2rem;
      }
    }
    .bottom {
      .container {
        padding-block: 1rem;
        @include flex(center, center, $vertical: true);
        gap: 0.25rem;
      }
    }
  }
}
