@import '../../variables';

.item_in_cart {
  width: 100%;
  min-height: 7.5rem;
  display: grid;
  grid-template-columns: 1.5fr 3fr 4fr 1fr;
  align-items: center;
  gap: 1rem;
  background-color: $white_gray;
  padding-left: 1rem;
  img {
    height: 100%;
    width: 7rem;
    object-fit: cover;
  }
  .item_info {
    height: 100%;
    @include flex(flex-start, flex-start, $vertical: true);
    margin-top: 0.5rem;
    gap: 0.5rem;
    h3 {
      font-size: 1rem;
      font-weight: 100;
      color: $gray;
    }
    p {
      font-size: 0.875rem;
      color: $dark_blue;
    }
    .square {
      width: 1rem;
      aspect-ratio: 1 / 1;
      border: solid 1px $gray;
      border-radius: 2px;
    }
  }

  .quantity {
    @include flex(center, center);
    gap: 2rem;
    .items_price {
      color: $gray;
      font-weight: 100;
    }
    .quantity_input {
      border: solid 1px $light_gray;
      border-radius: 5px;
      @include flex(center, center);
      width: 7.375rem;
      height: 2.75rem;
      position: relative;
      color: $white;
      input {
        @include flex(center, center);
        padding-right: 1rem;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        text-align: center;
        font-size: 1rem;
        position: relative;
      }
      .control_btns {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        height: 100%;
        background-color: $white_gray;
        border-left: solid 1px $light_gray;
        @include flex(center, center, $vertical: true);
        button {
          cursor: pointer;
          height: 100%;
          width: 2rem;
          border: none;
          @include flex(center, center);
          background-color: transparent;
          .chevron {
            font-size: 1.05rem;
          }
        }
        .add {
          border-bottom: solid 1px $light_gray;
        }
      }
    }
  }
  .action_btns {
    @include flex(center, flex-end, $vertical: true);
    height: 100%;
    width: 100%;
    gap: 0.1rem;
    button {
      width: 3.25rem;
      height: 100%;
      background-color: $light_gray;
      border: none;
      @include flex(center, center);
      .icon {
        font-size: 1.1rem;
      }
      .trash {
        font-size: 1.2rem;
        color: $red;
      }
    }
  }
}

@include tablet-sm {
  .item_in_cart {
    grid-template-columns: 0.5fr 4fr 1fr;
    grid-row: repeat(3, 1fr);
    gap: 0.5rem;
    row-gap: 0;
    .quantity {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      justify-self: self-start;
      gap: 0.5rem;
      .quantity_input {
        width: 7rem;
      }
    }
    .action_btns {
      grid-row: 1 / 3;
      grid-column: -1;
    }
  }
}
